@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 244, 231, 239;
  --background-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

::selection {
  background-color: #5eead4;
  color: rgb(var(--background-rgb));
}

.illustration {
  animation: move 0.5s ease alternate;
}

@keyframes move {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
